.player-container {
    display: flex;
    align-items: center; /* Zorgt ervoor dat alles op één lijn staat */
    gap: 8px; /* Extra ruimte tussen tekst en warning icon */
}

.warning-icon {
    display: none; /* standaard verborgen */
    color: red;
    font-weight: bold;
    cursor: help;
    margin-left: 5px;
}

.ready-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

#gameCanvas {
    display: block;
    margin: auto;
    background-color: black;
    border: 2px solid white;
}